.header {
    position: fixed;
    height: 4.5rem;
    width: 100%;
    background-color: rgb(219, 219, 219);
}

.section {
    width: 100%;
    height: 100vh;
}

#section-1 {
    padding-top: 4.5rem;
    background-color: aquamarine;
}

#section-2 {
    background-color: blueviolet;
}
#section-3 {
    background-color:chartreuse;;
}



